.Work {
    background-color: #0B0C10;
    height: 1700px;
}

.EducationMain {
    padding-top: 50px;
}

.WorkMain {
    padding-top: 250px;
}

.EducationWrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.WorkWrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.WorkHeader {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    color: #66fcf1;
}

.EducationHeader {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    color: #66fcf1;
    
}

.EducationContent {
    padding-top: 50px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.WorkContent {
    padding-top: 50px;
}

.EducationTitle {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    color: #FC4445;
}

.WorkTitle {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    color: #FC4445;
}

.EducationSpan {
    text-align: center;
    font-size: 14px;
    color: #C5C6C7;
}

.WorkSpan {
    text-align: center;
    font-size: 14px;
    color: #C5C6C7;
}

.Image {
    display: inline-block;
    float: left;
    margin-left: 30vw;
    width: 150px;
    height: 150px;
    margin-right: 150px;
    border-radius: 25px;
    background: #66fcf1;
    padding: 4px;
}


.CourseworkContainer {
    display: inline-block;
    float: left;
    margin-left: -40px;
}


.Coursework {
    color: #66fcf1;
    font-size: 20px;
    vertical-align: top;
}

.List {
    list-style-type: square;
    color: #C5C6C7;
    font-size: 14px;
    text-align: left;
    margin-left: 40px;
}

.WorkExperience {
    color: #C5C6C7;
    width: 85%;
    overflow-wrap: break-word;
    margin-bottom: 30px;
    text-align: justify;
}

.Experience {
    color: #66fcf1;
    display: none;
}

@media(max-width: 1200px) {
    .Image{
        display: block;
        margin-left: 20vw;
        margin-right: 60px;
    }
}

@media (max-width: 850px) {
    .Image {
        display: block;
        margin-right: 50px;
        margin-left: 10px;
    }
    .Work{
        height: 1800px;
    }

    .EducationTitle {
        text-align: left;
        padding-left: 8%;
    }
    .EducationSpan {
        text-align: left;
        padding-left: 8%;
    }
    .WorkExperience {
        width: 85%;
    }

}

@media (max-width: 700px) {
    .Image {
        margin-right: 20px;
    }
    .WorkTitle {
        text-align: left;
        padding-left: 8%;
    }
    .WorkSpan {
        text-align: left;
        padding-left: 8%;
    }
    .WorkExperience {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .Work{
        height: 2000px;
    }
    .Image {
        display: none;
    }
    .CourseworkContainer {
       margin-left: 5%;
    }
    .EducationTitle {
        font-size: 16px;
        padding-left: 5%;
    }
    .EducationSpan {
        font-size: 12px;
        padding-left: 5%;
    }
    .WorkExperience {
        margin-left: 5%;
        width: 85%;
        text-align: justify;
    }
    .WorkTitle {
        font-size: 20px;
        padding-left: 5%;
    }
    .WorkSpan {
        font-size: 12px;
        padding-left: 5%;
    }
    .Experience {
        display: block;
        padding-left: 5%;
        padding-bottom: 10px;
    }
}

@media (max-width: 374px) {
    .CourseworkContainer {
       margin-left: 1%;
    }
    .EducationTitle {
        font-size: 16px;
        padding-left: 1%;
        font-size: 14px;
    }
    .EducationSpan {
        font-size: 12px;
        padding-left: 1%;
        font-size: 14px;
    }
    .WorkTitle {
        font-size: 16px;
        padding-left: 1%;
        font-size: 14px;
    }
    .WorkSpan {
        font-size: 12px;
        padding-left: 1%;
        font-size: 14px;
    }
}


