.About {
    margin-top: 100px;
    background-color: #1f2833;
    height: 850px;
}

.AboutMain{
    padding-top: 50px;
}
.AboutContent {
    padding-left: 20px;
    display: inline-block;
}
.AboutPicture {
    margin-left: 100px;
    height: 200px;
    display: inline-block;
    margin-top: -50px;
}
.AboutHeader {
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    color: #66fcf1;
}

.AboutInfoMain {
    width: 1000px;
    padding-left: 70px;
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #C5C6C7;
}
.AboutInfo{
    width: 1000px;
    padding-left: 70px;
    padding-bottom: 5px;
    font-size: 14px;
    color: #C5C6C7;
}

.SkillsMain {
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
}

.ListHeader{
    font-size: 20px;
    color: #66fcf1;

}

.Skills {
    width: 32%;
    padding-left: 70px;
    color: #C5C6C7;
}

.List{
    width: 200px;
    list-style-type: square;
}


@media (max-width: 1400px) {
    .AboutInfoMain {
        width: 750px;
        padding-bottom: 20px;
    }
    .AboutInfo {
        width: 750px;
    }
}

@media (max-width: 1125px) {
    .AboutPicture {
        display: none;
    }
    .AboutInfoMain {
        width: 80%;
    }
    .AboutInfo {
        width: 80%;
    }
    .SkillsMain {
        display: block;
    }
    .Skills {
        padding-left: 30%;
    }
    .About {
        height: 1200px;
    }

}

@media (max-width: 700px) {
    .AboutInfoMain {
        width: 80%;
        font-size: 12px;
        padding-left: 20px;

    }
    .AboutInfo {
        width: 80%;
        font-size: 12px;
        padding-left: 20px;
    }
    .Skills {
        padding-left: 20%;
    }
}

@media (max-width: 500px) {
    .AboutInfoMain {
        width: 80%;
        font-size: 12px;
        padding-left: 20px;

    }
    .AboutInfo {
        width: 80%;
        font-size: 12px;
        padding-left: 20px;
    }
    .Skills {
        padding-left: 10%;
    }
}