.Projects {
    background-color: #1f2833;
    height: 1400px;
    width: auto;
}

.Header {
    padding-top: 60px;
    font-size: 50px;
    text-align: center;
    color: #66fcf1;
}

.ProjectWrapper {
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1200px) {
  .ProjectWrapper {
      width: 90vw;
  }
  .Projects {
    height: 1900px;
}
}

@media (max-width: 700px) {
    
}

@media (max-width: 550px) {
    .Projects {
        height: 2100px;
    }
}

@media (max-width: 374px) {
  
}


